#Remarque: a séparer en 2 fichiers .env, un par env

# Application Configuration
NODE_ENV=development
API_PORT=3000
DEBUG_PORT=9229

# Production Configuration
PROD_PORT=8080
PROD_MEMORY_LIMIT=2G
PROD_CPU_LIMIT=1.0
PROD_MEMORY_RESERVATION=512M
PROD_CPU_RESERVATION=0.25

# Database Configuration
PROD_MARIADB_ROOT_PASSWORD_FILE=/run/secrets/db-password
PROD_MARIADB_DATABASE=api


# Database Configuration Prod
MARIADB_ROOT_PASSWORD_FILE=/run/secrets/db-password
MARIADB_DATABASE=api